In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("custom_data.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   math_score       95 non-null     float64
 1   reading_score    100 non-null    int64
 2   writing_score    100 non-null    int64
 3   clubing          90 non-null     float64
 4   placement_score  95 non-null     float64
 5   placement_offer  100 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 4.8 KB

In [5]:
df.isnull()

,math_score,reading_score,writing_score,clubing,placement_score,placement_offer
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
95,False,False,False,False,False,False
96,False,False,False,False,False,False
97,False,False,False,False,False,False
98,False,False,False,False,False,False
99,False,False,False,False,False,False

In [7]:
df.math_score

0     74.0
1     79.0
2     66.0
3     64.0
4     80.0
      ...
95    79.0
96    78.0
97    76.0
98    73.0
99    61.0
Name: math_score, Length: 100, dtype: float64

In [8]:
x=df.math_score.min()

In [9]:
x

np.float64(60.0)

In [10]:
df.math_score.isnull()

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: math_score, Length: 100, dtype: bool

In [11]:
df.isnull().sum()

math_score          5
reading_score       0
writing_score       0
clubing            10
placement_score     5
placement_offer     0
dtype: int64

In [13]:
df.writing_score.min()

np.int64(60)

In [14]:
x=df.writing_score.min()

In [15]:
y=df.writing_score.fillna(x)

In [16]:
y

0     77
1     69
2     71
3     69
4     66
      ..
95    70
96    62
97    69
98    75
99    70
Name: writing_score, Length: 100, dtype: int64

In [18]:
df.placement_score.isnull().sum()

np.int64(5)

In [21]:
x=df.placement_score.min()

In [22]:
x

np.float64(75.0)

In [23]:
y=df.placement_score.fillna(x)

In [24]:
y

0     89.0
1     98.0
2     82.0
3     84.0
4     85.0
      ...
95    80.0
96    89.0
97    96.0
98    89.0
99    81.0
Name: placement_score, Length: 100, dtype: float64

In [25]:
a=df['math_score'].mean()

In [26]:
a

np.float64(69.96842105263158)

In [27]:
df['math_score'].fillna(77,inplace=True)

In [28]:
df

,math_score,reading_score,writing_score,clubing,placement_score,placement_offer
0,74.0,84,77,2020.0,89.0,3
1,79.0,86,69,2023.0,98.0,3
2,66.0,91,71,2022.0,82.0,2
3,64.0,77,69,2021.0,84.0,2
4,80.0,88,66,2021.0,85.0,3
...,...,...,...,...,...,...
95,79.0,77,70,2022.0,80.0,2
96,78.0,86,62,2024.0,89.0,3
97,76.0,80,69,2020.0,96.0,3
98,73.0,84,75,2022.0,89.0,3
99,61.0,81,70,2021.0,81.0,2

In [29]:
df.math_score.isnull().sum()

np.int64(0)

In [30]:
df.fillna({'reading_score':70}, inplace=True)

In [31]:
df

,math_score,reading_score,writing_score,clubing,placement_score,placement_offer
0,74.0,84,77,2020.0,89.0,3
1,79.0,86,69,2023.0,98.0,3
2,66.0,91,71,2022.0,82.0,2
3,64.0,77,69,2021.0,84.0,2
4,80.0,88,66,2021.0,85.0,3
...,...,...,...,...,...,...
95,79.0,77,70,2022.0,80.0,2
96,78.0,86,62,2024.0,89.0,3
97,76.0,80,69,2020.0,96.0,3
98,73.0,84,75,2022.0,89.0,3
99,61.0,81,70,2021.0,81.0,2

In [32]:
df.reading_score.isnull().sum()

np.int64(0)

In [43]:
df.isnull().sum()

math_score          0
reading_score       0
writing_score       0
clubing            10
placement_score     0
placement_offer     0
dtype: int64

In [38]:
x=df.placement_score.min()

In [41]:
df.fillna({'placement_score':x}, inplace=True)

In [42]:
df.placement_score.isnull().sum()

np.int64(0)

In [44]:
x=df.clubing.min()

In [46]:
df.fillna({'clubing':x}, inplace=True)

In [47]:
df.clubing.isnull().sum()

np.int64(0)

In [48]:
df.isnull().sum()

math_score         0
reading_score      0
writing_score      0
clubing            0
placement_score    0
placement_offer    0
dtype: int64